.epin-container{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px;
}


.epin-filter {
  margin-top: 35px;
  max-width: 180px;
  height: 40px;
  padding: 0 35px 0 12px; /* right side space arrow ke liye */
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  background: #ffffff;
  color: #1e293b;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;

  /* Remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%231e293b' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5H5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
@media (max-width: 768px){
    .epin-container{
        margin: 5px;
    }
}